.MuiTabs-indicator {
    width: 3px;
}
.sms-index-tabs .MuiTabs-scrollable .MuiTabs-flexContainer .Mui-selected{
    font-weight: bold;
    font-size: larger;
}

.sms-datasource-tab .MuiTab-wrapper{
    flex-direction: row;
}

.sms-datasource-tabpanel{
    border-top: 2px solid #e0e0e0;
}
